{
  "extends": [
    "plugin:prettier/recommended",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@next/next/recommended",
    "plugin:@tanstack/query/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "plugins": ["unused-imports", "prettier"],
  "rules": {
    "unused-imports/no-unused-imports": "warn",
    "no-unused-vars": "warn",
    "no-console": "warn",
    "react/prop-types": "off",
    "semi": [2, "always"],
    "object-curly-spacing": [2, "always"],
    "prettier/prettier": ["error", { "singleQuote": true, "tabWidth": 4 }],
    "indent": [0, "tab"],
    "endOfLine": "off",
    "sort-imports": "off",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/no-explicit-any": "off"
  }
}
